<div class="login-wrapper j-center">
  <mat-card class="medium-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" class="form-wrapper">
        <mat-form-field class="full-field" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
          <mat-error *ngIf="loginForm.controls.username.invalid">Username cannot be empty</mat-error>
        </mat-form-field>
        <mat-form-field class="full-field" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" required type="password">
          <mat-error *ngIf="loginForm.controls.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </form>

      <div class="card-button">
        <button mat-button (click)="login($event)" [disabled]="loginForm.invalid">Login</button>
      </div>
    </mat-card-content>
  </mat-card>  
</div>
